# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
packages/
*.nupkg
*.snupkg
.nuget/

# SQLite (local DB files if not meant to be committed)
*.db-shm
*.db-wal

# Gephi exports
gephi_exports/

